<div class="hero-unit">
	<div class="container">
		<h1>Welcome to Covridge</h1>
		<br>
		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
</div>

